# Temp dir for local dev without dirtying git state
/tmp/

# Vendoring
/vendor/
# Legacy support for pre-vendor-experiment tools
/.vendor_for_old

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
